h1, p, h2 {
    text-align: center;
}
.equipe {
    display: flex;
    flex-direction: column;
}

.equipe-titre h2 {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    position: absolute;
    color: #FFFFFF;
}

.equipe-titre img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: 50% top;
}

/* .equipe-titre {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .equipe-contenu {
    display: flex;
    justify-content: space-around;
} */

.equipier-photo img {
    width: 240px;
    border-radius: 120px;
}

.equipier h3 {
    margin: 24px 0;
}

.equipier button {
    background-color: #795548;
    color: #FFFFFF;
    width: 132px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
    /* margin-left: 54px; */
}

.equipier a {
    color: #FFFFFF;
}

.equipier {
    margin-top: 64px;
    /* display: flex; */
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

footer {
    margin-top: 63px;
    height: 476px;
    /* background-color: #DD5555; */
    /* color: #FFFFFF; */ 
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/* .form-row {
    text-align: center;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 
} */

.form-row input[type="text"],
.form-row input[type="email"] {
    width: 358px;
    height: 32px;
    background-color: #FFFFFF;
    /* border: 1px solid #FFFFFF; */
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.form-row textarea {
    font-family: "Open Sans", sans-serif;
    width: 358px;
    height: 112px;
    resize: none;
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-row button {
    background-color: #795548;
    color: #FFFFFF;
    width: 132px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    /* width: 123px; */
    /* height: 46px; */
    /* font-family: "Open Sans", sans-serif; */
    /* font-size: 18px; */
    /* border: none; */
    /* border-radius: 2px; */
    /* margin-left: 625px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* vertical-align: middle; */
}
