section {
    margin: 50px auto;
}


ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul li {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li img {
    width: 150px;
}