/*section {
    margin: 50px auto;
}*/

@font-face {
	font-family: "OpenSans";
	src: url("./font/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "OpenSans";
	src: url("./font/OpenSans-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "OpenSans";
	src: url("./font/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

body.magasin {
	font-family: "OpenSans", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.8em;
}

ul.books {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul.books li {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.books li img {
    width: 150px;
}

.books input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

button.magasin {
    background-color: var(--main-color);
    /**padding: 20px;**/
    color: #FFFFFF;
    font-size: 18px;
    margin: 5px auto;
    width: 90%;
    border-radius: 5px;
	border:none;
    cursor: pointer;
}


input.magasin {
	width: 30%;
	height:30px;
	font-size: 20px;
}

h3.prix_magasin{
	font-size: 20px;
}