body {
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Start nav */
header {
    padding: 20px;
    background-color: #DD5555;
    color: #FFFFFF;
}

header .container {
    display: flex;
    align-items: center;
}

header .container ul {
    display: flex;
    gap: 10px;
    font-size: 14px;
    list-style: none;
}

@media (max-width: 485px) {
    header .container ul {
        font-size: 10px;
    }
}

/* End nav */

.landing {
    width: 100%;
    height: 600px;
    background-image: url("../images/books-images/pexels-pixabay-207662.jpg");
    background-size: cover;
}

.main-section {
    margin: 50px auto;
}


.main-section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul li {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li img {
    width: 150px;
}