/* start main-section */
.main-section {
    margin: 50px auto;
}


.main-section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    margin-top: 30px;
}

.main-section li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-section li .info {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-section li .info .btns {
    align-self: center;
}

.main-section li img {
    width: 150px;
}

.main-section li button {
    background-color: transparent;
    border: none;
}

.main-section ul li i {
    color: var(--main-color);
    font-size: 22px;
}

.main-section .cart-total {
    font-size: 25px;
    margin: 30px;
}

.main-section .ch-vi {
    display: flex;
    justify-content: center;
}

.main-section .checkout {
    background-color: var(--main-color);
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;

}

.vider {
    background-color: var(--main-color);
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    margin-right: 70px;
}

/* end main-section */