/* start main-section */
.main-section {
    margin: 50px auto;
}


.main-section ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.main-section li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-section li .info {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.main-section li img {
    width: 150px;
}

.main-section li button {
    background-color: transparent;
    border: none;
}

.main-section ul li i {
    color: var(--main-color);
    font-size: 22px;
}

.main-section .cart-total {
    font-size: 25px;
}

.main-section .checkout {
    background-color: var(--main-color);
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    margin: 70px auto;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
}

/* end main-section */