body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Source Sans Pro', sans-serif;
	background: #F0F0F0;
}



thead.fixedHeader th {
	background: DimGrey;
	border-left: 1px solid LightSlateGrey;
	border-right: 1px solid LightSlateGrey;
	border-top: none;
	font-size: 15px;
	font-weight: 600;
	color: white;
	padding: 4px 3px;
	text-align: center;
}

thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
	color: #FFF;
	display: block;
	text-decoration: none;
	width: 100%;
}
.scrollContent {text-align: center;}

tbody {
	overflow:scroll;
}

tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #F0F0F0;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	font-weight: 400;
	color: #525252;
}

tbody.scrollContent tr.alternateRow td {
	background: #F2F2F2;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	font-weight: 400;
	color: #525252;
}


div#menu {
	background-color:DimGrey;
	padding: 5px 8px 8px 6px;
	}
	
div#menu a{
	color: #FFF;
/*	font-size: 25px; */
	font-size: 1.8vw;
	font-weight: 300;
	
	}	
	
div#menu a:link, div#menu a:visited {
	text-decoration: none;
	}	
	
	
	
div#sousmenu {
	background-color:LightSlateGrey;
	padding: 5px 8px 8px 6px;
	}

div#sousmenu a, div#sousmenu a:link, div#sousmenu a:visited {
	color: #FFF;
	text-decoration: none;
	font-size: 25px;
	font-weight: 300;
	}	
	
div#tableContainer {
	float:left;
	}	

div#currentpage {
text-decoration: underline;
}

div#sousmenu td#currentpage a {
text-decoration: underline;
}	
.tableaux{
  display:inline-block;
  vertical-align:top;
}

table#edittable td{
	color: #525252;
	font-weight: 400;
}	

table#edittable  input{
	color: #525252;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}	

table#edittable  select{
	color: #525252;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}	

table#taches  h2{
	color: #525252;
	font-family: 'Source Sans Pro', sans-serif;
}	

table#taches , table#taches  td {
	border-color: #525252;
}	

table#apercu  {
	border-collapse: collapse;
}	

table#apercu  td {
	border: 1px solid;
}

textarea#pts_init  {
	resize: none;
	overflow-x: hidden;
	overflow-wrap: normal;
}

textarea#temp_intervenants  {
	resize: none;
	overflow-x: hidden;
	overflow-wrap: normal;
}



ul li{
	color: #303030;
	font-family: 'Source Sans Pro', sans-serif;
}	


td input[type="text"] {
    min-width: 10px;
    max-width: 90%;
    width: 90%;
	padding: 1px;
	background: #FDFDF6D;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}


td {
    height: 20px;
}

/* unvisited link */
td a:link {
    color: #525252;
}

/* visited link */
td a:visited {
    color: #525252;
}

/* mouse over link */
td a:hover {
    color: #525252;
}

/* selected link */
td a:active {
    color: #525252;
}


.button {
  font: bold;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.textarea {
  border-style:groove;
}

.p {
  text-align:center;
}


/*ajout 2021-12-23 classes pour tableur devis

*/

.dev {
	text-align:center;
	width:100%;
	border-collapse: collapse;
}

.devbody {
	width:100%;
}

.devlignenum {
	width:5%;
	border: 1px solid black;
	padding: 5px;
}

.devgauche {
	width:55%;
	border: 1px solid black;
	padding: 5px;
}

.devgauchetot {
	width:60%;
	border: 1px solid black;
	padding: 5px;
}


.devdroite {
	width:25%;
	border: 1px solid black;
	padding: 5px;
}

.devplus {
	color:SteelBlue;
	cursor: pointer;
	margin-left:auto;
	margin-right:auto;
}

.devtrash {
	color:SteelBlue;
	cursor: pointer;
	margin-left:auto;
	margin-right:auto;
}

.devfile {
	color:SteelBlue;
}


